@using TodoWebProjekt.Authorization
@using Microsoft.AspNetCore.Http
@model TodoWebProjekt.ViewModel.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var current = (string)ViewData["CurrentSort"];
    var cF = (string)ViewData["CurrentFilter"];
    var all = current == "null" | current == null | cF == "null" | string.IsNullOrEmpty(cF) ? "active" : "notActive";
    var important = current == "Important" ? "active" : "notActive";
    var notImportant = current == "NotImportant" ? "active" : "notActive";
    var done = current == "Done" ? "active" : "notActive";
    var doing = current == "Doing" ? "active" : "notActive";
    var title_arrow = current != "Title" && current != "Title_Desc" ? "" : current == "Title_Desc" ? "fa fa-arrow-down" : "fa fa-arrow-up";
    var author_arrow = current != "Author" && current != "Author_Desc" ? "" : current == "Author_Desc" ? "fa fa-arrow-down" : "fa fa-arrow-up";
    var assign_arrow = current != "Assign" && current != "Assign_Desc" ? "" : current == "Assign_Desc" ? "fa fa-arrow-down" : "fa fa-arrow-up";
    var currentSort = string.IsNullOrEmpty(current) ? "null" : (string)current;
    var currentFilter = string.IsNullOrEmpty(cF) ? "null" : cF;
    var searchText = cF != "Important" | cF != "NotImportant" | cF != "Doing" | cF != "Done" ? cF : "";
    var pageSize = HttpContextAccessor.HttpContext.Session.GetInt32("CurrentPageSize");
}

<div class="container">
    <div>
        <!-- Add button -->
        <div style="float: left">
            <button onclick="openCreateModal()" class="btn btn-outline-secondary" m-1>Add</button>
        </div>
        <div style="float: right;">
            <div class="form-inline my-2 my-lg-0">
                <!-- Status sort buttons -->
                <div class="input-group" style="margin-right: 5px">
                    <div class="btn-group" id="radioBtn">
                        <button class="btn btn-secondary @all"
                                onclick="Sort('null', @pageSize)"
                                id="all_sort"
                                type="button"
                                title="All">
                            All
                        </button>

                        <button class="btn btn-danger @important"
                                onclick="Sort('Important', @pageSize)"
                                id="important_sort"
                                type="button"
                                title="Important">
                            Important
                        </button>
                        <button class="btn btn-light @notImportant"
                                onclick="Sort('NotImportant', @pageSize)"
                                id="not_important_sort"
                                type="button"
                                title="Not Important">
                            Not Important
                        </button>

                        <button class="btn btn-primary @doing"
                                onclick="Sort('Doing', @pageSize)"
                                id="doing_sort"
                                type="button"
                                title="Doing">
                            Doing
                        </button>

                        <button class="btn btn-success @done"
                                onclick="Sort('Done', @pageSize)"
                                id="done_sort"
                                type="button"
                                title="Done">
                            Done
                        </button>
                    </div>
                </div>

                <!-- Search field -->
                <div class="searchField">
                    <input id="searchString" class="form-control" type="text" name="searchString" placeholder="Title Search on current Page..." value="@searchText" onkeyup="Search()" autocomplete="off">
                    <div class="input-group-append">
                        <button id="clear" class="btn btn-secondary zerowidth" onclick="Filter('',@pageSize,'',0,true)"><span class="fa fa-times-circle"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="table" class="table table-borderless">
        <thead>
            <!-- Sortable header -->
            <tr>
                <th style="width:31px; min-width: 31px"></th>
                <th style="width:451px; min-width: 400px">
                    <a onclick="Filter('@ViewData["TitleSortParam"]',@pageSize,'@currentFilter',0)" href=#>
                        Title
                        <i class="@title_arrow"></i>
                    </a>
                </th>
                <th>
                    <a onclick="Filter('@ViewData["AuthorSortParam"]',@pageSize,'@currentFilter',0)" href=#>
                        Author
                        <i class="@author_arrow"></i>
                    </a>
                </th>
                <th>

                    <a onclick="Filter('@ViewData["AssignSortParam"]',@pageSize],'@currentFilter',0)" href=#>
                        Assign
                        <i class="@assign_arrow"></i>
                    </a>
                </th>
                <th style="min-width:151px; width:151px">
                    Status
                </th>
                <th style="min-width:120px; width:120px"></th>
            </tr>
            <!-- Progressbar -->
            <tr data-toggle="collapse" data-target="#progressBarLabel">
                <th colspan="6" style="padding:0px">
                    <div class="progress" style="height: 8px; width: 100%">
                        <div id="DoneNotImportant" class="progress-bar-animated done-progress-bar" style="width: @Model.NotImportentDonePercent;"></div>
                        <div id="DoneImportant" class="progress-bar-animated done-important-progress-bar" style="width: @Model.ImportentDonePercent;"></div>
                        <div id="DoingNotImportant" class="progress-bar-animated doing-progress-bar" style="width: @Model.NotImportentDoingPercent;"></div>
                        <div id="DoingImportant" class="progress-bar-animated doing-important-progress-bar" style="width: @Model.ImportentDoingPercent;"></div>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="6" style="padding:0px;">
                    <ol id="progressBarLabel" class="panel-collapse collapse">
                        <li class="progress-bar-label">
                            <span class="color-block" style="background-color:#28a745"></span>
                            <span> Done </span>
                        </li>
                        <li class="progress-bar-label">
                            <span class="color-block" style="background-color:#a7288a"></span>
                            <span> Important Done </span>
                        </li>
                        <li class="progress-bar-label">
                            <span class="color-block" style="background-color:#0062cc"></span>
                            <span> To do </span>
                        </li>
                        <li class="progress-bar-label">
                            <span class="color-block" style="background-color:#cc6a00"></span>
                            <span> Important to do </span>
                        </li>
                    </ol>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <!-- Checkbox -->
                    <td>
                        @if (item.ActiveStatus == "Doing")
                        {
                            <button type="button" class="btn btn-outline-success btn-sm" onclick="Check(@item.TaskId)" title="Check" id="checkButton"><span><i class="fa fa-check"></i></span> </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-success btn-sm" onclick="Uncheck(@item.TaskId)" title="Uncheck" id="uncheckButton"><span><i class="fa fa-check"></i></span> </button>
                        }
                    </td>

                    <!-- Title -->
                    <td class="cropTitle filter">
                    @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <!-- Author -->
                    <td class="crop">
                        @if (item.UserId == UserManager.GetUserId(User))
                        {
                            <p style="margin:auto">You</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.UserId).Result.FullName)
                        }
                    </td>

                    <!-- Assign user -->
                    <td class="crop">
                        @if (item.AssignUserId == UserManager.GetUserId(User))
                        {
                            <p style="margin:auto">You</p>
                        }
                        else if (item.AssignUserId == "null")
                        {
                            <p style="margin:auto">---</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItrem => UserManager.FindByIdAsync(item.AssignUserId).Result.FullName)
                        }
                    </td>

                    <!-- Status label -->
                    <td class="crop">
                        @if (item.ActiveStatus == "Doing")
                        {
                            <span class="badge badge-primary">Doing</span>
                        }
                        else if (item.ActiveStatus == "Done")
                        {
                            <span class="badge badge-success"> Done</span>
                        }
                        @if (item.ImportanceStatus == "Important")
                        {
                            <span class="badge badge-danger"> Important</span>
                        }
                    </td>

                    <!-- Table buttons -->
                    <td>
                        <div style="float: right;">

                            @{

                                string itemUserId = item.UserId;
                                string currentUserId = UserManager.GetUserId(User);
                                var dis = itemUserId != currentUserId && !User.IsInRole(Constants.AdminRole) ? "disabled" : "";

                            }

                            <div class="input-group">
                                <div class="btn-group">
                                    <button onclick="openEditModal(@item.TaskId)" class="btn btn-outline-primary btn-sm @dis" title="Edit"><i class="fa fa-edit"></i> </button>
                                    <button onclick="openDetailsModal(@item.TaskId)" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i> </button>
                                    @if (dis == "" || User.IsInRole(Constants.AdminRole))
                                    {
                                        <button type="button" class="btn btn-danger btn-sm" onclick="Delete(@item.TaskId)" title="Delete"><i class="fa fa-trash-alt"></i> </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-danger btn-sm" @dis><i class="fa fa-trash-alt" title="Delete"></i> </button>
                                    }
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
            }
            <!-- Placeholder if nothing find or empty list -->
            <tr class="notthingShow" style="display:none">
                <td colspan="6">
                    <h3 class="text-center"><b>Oops </b>There is nothing to Show !</h3>
                    <h4 class="text-center">Please change your filter</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <div>
        <ul class="pagination">

            @{
                var prevDisabled = !Model.Tasks.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Tasks.HasNextPage ? "disabled" : "";
            }

            <li class="page-item @prevDisabled">
                <button onclick="Filter('@currentSort',@pageSize,'@currentFilter',@(Model.Tasks.PageIndex - 1))"
                        class="page-link"
                        title="Previous Page">
                    &laquo; Previous
                </button>
            </li>

            <li class="page-item @nextDisabled">
                <button onclick="Filter('@currentSort',@pageSize,'@currentFilter',@(Model.Tasks.PageIndex + 1))"
                        class="page-link"
                        title="Next Page">
                    Next &raquo;
                </button>
            </li>


            <li>
                <div class="btn-group" role="group">
                    <button id="pageSize" class="page-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Amount of pageitems">
                        <span>@pageSize</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="pageSize">
                        <button class="dropdown-item"
                                onclick="Filter('@currentSort',3,'@currentFilter',0)"
                                title="3">
                            3
                        </button>
                        <button class="dropdown-item" onclick="Filter('@currentSort',5,'@currentFilter',0)" title="5">5</button>
                        <button class="dropdown-item" onclick="Filter('@currentSort',10,'@currentFilter',0)" title="10">10</button>
                        <button class="dropdown-item" onclick="Filter('@currentSort',25,'@currentFilter',0)" title="25">25</button>
                        <button class="dropdown-item" onclick="Filter('@currentSort',-1,'@currentFilter',0)" title="All">All</button>

                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

@section Scripts{
    @if (Model.Tasks.Count == 0)
    {
        <script>
            $('.notthingShow').show();
        </script>
    }
}


