@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using TodoWebProjekt.Authorization
@model TodoWebProjekt.ViewModel.FileTaskViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron" style="background: white">
    <div class="container">
        <h1>
            @Html.DisplayFor(model => model.Task.Title)
        </h1>

        <div class="d-inline-block">
            @if (Model.AuthorProfilePicture != null)
            {
                <img class="image--cover" style="width:38px; height:38px; margin:0px" alt="@UserManager.FindByIdAsync(Model.Task.UserId).Result?.FullName" src="data:Model.image.ContentType;base64,@Convert.ToBase64String(Model.AuthorProfilePicture.Image)" />
            }
            else
            {
                <img class="image--cover" style="width:38px; height:38px; margin:0px" alt="@UserManager.FindByIdAsync(Model.Task.UserId).Result?.FullName" src="~/placeholder/placeholder_avatar.jpg" />
            }
        </div>
        <div class="d-inline-block align-middle">
            <p style="font-weight: 700;  padding-left:5px; margin-bottom:auto">
                @Html.DisplayFor(model => UserManager.FindByIdAsync(Model.Task.UserId).Result.FullName)
            </p>
        </div>


        @if (Model.Task.ActiveStatus == "Doing")
        {
            <span class="badge badge-primary mx-1 d-inline-block" style="font-size:1.5rem; vertical-align:middle; float:right"> Doing </span>
        }
        else if (Model.Task.ActiveStatus == "Done")
        {
            <span class="badge badge-success mx-1 d-inline-block" style="font-size:1.5rem; vertical-align:middle; float:right"> Done </span>
        }
        @if (Model.Task.ImportanceStatus == "Important")
        {
            <span class="badge badge-danger mx-1 d-inline-block" style="font-size:1.5rem; vertical-align:middle; float:right"> Important </span>
        }






        <hr class="my-4">
        <p class="mx-5">@Html.DisplayFor(model => model.Task.Description)</p>
        <div>
            @if (Model.File != null)
            {
                <img style="height: 500px;object-fit: contain;" class="card-img-top" src="data:Model.image.ContentType;base64,@Convert.ToBase64String(Model.File.Image)" alt="Task Image" />
            }
        </div>


        <div class="form-group footer" style="width:100%; margin-bottom:0">
            @{
                var dis = Model.Task.UserId != UserManager.GetUserId(User) && !User.IsInRole(Constants.AdminRole) ? "disabled" : "";
            }
            <form asp-controller="Todo">
                <button class="btn btn-outline-primary" type="submit" asp-action="Index"><i class="fa fa-chevron-left"></i> Back</button>

                <a asp-action="Edit" asp-route-id="@Model.Task.TaskId" class="btn btn-outline-primary @dis"><i class="fa fa-edit"></i> Edit</a>

                @if ((await AuthorizationService.AuthorizeAsync(User, Model.Task, TaskOperations.Delete)).Succeeded || User.IsInRole(Constants.AdminRole))
                {
                    <button type="button" class="btn btn-danger btn-sm" onclick="Delete(@Model.Task.TaskId)"><i class="fa fa-trash-alt"></i> Delete</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger btn-sm" @dis><i class="fa fa-trash-alt"></i> Delete</button>
                }
            </form>
        </div>

    </div>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header" style="background: #e85e6c;">
                <div class="icon-box">
                    <i class="fa fa-3x fa-trash-alt"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Delete!</h4>
                <p>Are you sure you want to delete this task ?</p>
                <button class="btn btn-outline-danger" style="background-color: #47c9a2; margin-right:2em" id="confirm"> <i class="fa fa-lg fa-check"></i></button>
                <button class="btn btn-outline-secondary" style="background-color: #e85e6c" data-dismiss="modal"><i class="fa fa-lg fa-ban"></i></button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

        var Delete = function (id) {
            $("#deleteDialog").modal("show");
            $("#confirm").click(function () {
                $.ajax({
                    type: "POST",
                    url: `/Todo/Delete/${id}`,
                    success: function () {
                        window.location.href = "/Todo/Index";
                    }
                });
            });

        }

    </script>
}